* {
    margin: 0;
    padding: 0;
}
/* 導覽列 */

header {
    background-color: black;
    height: 3.6vw;
    width: 100%;
}

header svg {
    fill: red;
    width: 200px;
    position: absolute;
    margin-left: 11.5vw;
    margin-top: 0.5vw;
}

header ul li a{
    color: white;
    text-decoration: none;
}

header ul li a:hover {
    text-decoration: underline;
}

header ul li {
    display: inline;
    margin-right: 2vw;
}

header ul {
    position: absolute;
    right: 8vw;
    top: 1vw;
}

.aaa {
    height: 1.5vw;
    background-color: #E8E5E5;
}

.cmp-modelselection__group {
    border-top: 1px solid black;
    margin-top: 4vw;
    padding-bottom: 2rem;
}

.header {
    font-size: 27px;
    font-weight: 400;
    margin-left: 10vw;
}

section img {
    width: 1550px;
    margin-left: 10vw;
    margin-top: 1.3vw;
    margin-left: 8.7vw;
}

main {
    background-color: #E8E5E5;
}

.productimg img {
    width: 250px;
    margin-left: 2%;
}

.productimg_1 {
    width: 250px;
    height: 250px;
}

.shop {
    margin-bottom: 5vw;
}

.shop_info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2vw;
    margin-left: 8vw;
    margin-right: 5vw;
}

.productitem {
    background-color: white;
    margin-right: 4.3vw;
    border-radius: 10px;
}

.productinfo {
    text-align: center;
}

.productline {
    border-top: 1px solid black;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: .5vw;
}

.productlink a {
    text-decoration: none;
    color: black;
}

.productlink {
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    margin-left: 2vw;
    margin-right: 2vw;
}

.productinfo h3 {
    font-size: 20px;
    max-width: 13vw;
}

.productlink a:hover {
    color: red;
}

.productsize {
    margin-left: 2vw;
    margin-right: 2vw;
}

footer {
    display: flex;
    background-color: #E8E5E5;
}

footer div svg {
    fill: red;
    width: 200px;
    position: absolute;
    margin-left: 11.5vw;
    margin-top: -1vw;
}

footer ul {
    display: flex;
    margin-top: -.5vw;
    margin-left: 73vw;
}

footer ul li a {
    text-decoration: none;
    color: black;
    margin-right: 1vw;
}

footer ul li a:hover {
    color: red;
}

footer ul li {
    color: white;
    list-style: none;
}

.cmp-modelselection__group {
    border-top: 1px solid black;
    margin-top: -1vw;
    background-color: #E8E5E5;
}